
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Dist/styles.css">
</head>
<body>
    <div>
        <div class="roundedBox">
            <p>Hello world</p>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.0.js"
                integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="
                crossorigin="anonymous">
        </script>

        <script src="~/Dist/app.bundle.js"></script>
        <script src="~/Dist/styles.bundle.js"></script>
    </div>
</body>
</html>
